extends ../puzzle

block description
  p.
    When using Excel it assigns an alphabetic column header to each column in
    the spreadsheet.  Column 1 gets the header 'A' and column 2 gets the
    header 'B'.  Continuing on, column 26 has the header 'Z' and column 27 has
    the header 'AA'.

  p.
    Which column number in Excel had a header that spells '#{puzzle.phrase}'?
