extends ../puzzle

block description
  h3  The Scenario
  p.
    Suppose there is a society where girls are more highly valued than boys.
    This norm is so pervasive in the culture that every couple decides to have children
    will continue having children until a daughter is born.
  h4  Examples
  ul
    li  If a couple's first child is a daughter, they feel so blessed that they stop having children.
    li  If a couple's first child is a son, then they will definitely have another child.
    li  If the second child is a daughter, they will stop having children.
    li  If the second child is a son, then they will definitely have another child.
    li  And so on...
  h4  Note of Interest
  ul
    li  Assume the probability of <b>having a girl is actually !{puzzle.percentage}%</b>, or !{puzzle.probability}.
    li  Assume there is no limit to the number of children that a couple will have.
  h3  The Puzzle
  p.
    In this society, what proportion of the population would be <b>male</b>?
  h4  Your Answer
  p.
    Answers given as a raw number between 0 and 1 must be accurate to five decimal places, e.g. 0.12345.
    Alternatively, answers may be expressed as a percentage, which must be accurate to three decimal places, e.g. 12.345%.
