extends base

block content
  h2 Check your email!

  p.
    Normally you'd receive an email with this link, but since you're running in development
    mode, here's the link you need.

  a(href="#{link}") #{link}