extends ../puzzle

block description
	p You and a friend are going to have a Dice Race! You both have a fair #{puzzle.num}-sided dice. The first one to roll a 1, wins. Your friend goes first.
	p To three decimal places, rounded down, what is the percent chance you will win? Assume if nobody has won by their 20th roll, nobody wins. Your answer will take the form of 12.345, do not include the %`.