extends base

block content
	h2 The Bazaarvoice PuzzleBox

	if user
		h3 Welcome Back #{user.name}
		p
			a(href="/logout") Log Out
		p
			a(href="/puzzles") See all puzzles
	else
		h3 Login with:
		p.logins
			a.btn(href="/auth/facebook") Facebook
			a.btn(href="/auth/twitter") Twitter