extends base

block content
	h2 The Bazaarvoice PuzzleBox

	if user
		h3 Welcome Back #{user.name}
		p
			a(href="/logout") Log Out
		p
			a(href="/puzzles") See da puzzles
	else
		h3 
		a(href="/auth/facebook") Login with Facebook
		a(href="/auth/twitter") Login with Twitter